# ignore object and class files
*.class
*.o
*.slo
*.o
*.obj

# ignore libraries
*.lib
*.a
*.lai
*.la

# ignore shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# ignore executables
*.exe
*.out
*.app

# ignore metada files
.metadata

# ignore project files
.settings
.project
.classpath

# ignore temporary editor files
*~
\#*\#
.\#*

# ignore Mac OS X specific files
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

*.class
.classpath
.project

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/bin/
